/*  Google Fonts Import - Poppins */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0A84FF;
}


.container{
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #0A84FF;
}
.container form{
    position: relative;
    min-height: 490px;
    background-color: #fff;
}
p{
    margin-top: 24px;
    margin-bottom: 24px;
}

.container form .titulo{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .Subtitulo{
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    margin: 6px 0;
    color: #333;
}

.container form .campos{
    display: flex;
    justify-content: space-around;  
    flex-wrap: wrap;
}

form .campo-entrada{
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 4px 0;
}
.campo-entrada label{
    font-size: 13px;
    font-weight: 500;
    color: #2e2e2e;
}
.campo-entrada input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.campo-entrada input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}


/* =====DIV IDIOMA====- */


.radio-buttons{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.custom-radio input{
    display: none;
}

.radio-btn{
    background:#f2f2f2;
    position: relative;
    width: 130px;
    height: 140px;
    padding: 10px;
    margin: 10px;
    border: 4px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    
}
.radio-btn .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.radio-btn .country-img{
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.radio-btn .country-img img{
    width: 100%;
    height: 100%;
    user-select: none; 
}
.radio-btn .check-icon{
    position: relative;
    width: 25px;
    height: 25px;
    background:#fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    margin-top: 10px;  
}

.radio-btn .check-icon .icon{
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 8px;
    transform: rotate(-40deg);  
}
.radio-btn .check-icon .icon::before{
    content: "";
    width: 3px;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    left:0;
    bottom:0;
    border-radius: 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.231);
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.2s ease-in-out;
}
.radio-btn .check-icon .icon::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left:0;
    bottom:0;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.231);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.2s ease-in-out;
}

.custom-radio input:checked + .radio-btn {
    border: 2px solid #0A84FF;
}
.custom-radio input:checked + .radio-btn .check-icon{
    background-color: #0A84FF;
}
.custom-radio input:checked + .radio-btn .check-icon .icon::before,
.custom-radio input:checked + .radio-btn .check-icon .icon::after{
    transform: scale(1);
}

.campo-entrada input[type=date]{
    color: #707070;
}
.campo-entrada input[type=date]:valid{
    color: #707070;
}

.container form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #0A84FF;
    transition: all 0.3s linear;
    cursor: pointer;
}
form button:hover{
    box-shadow: 0px 85px 34px rgba(10, 132, 255, 0.01), 0px 48px 29px rgba(10, 132, 255, 0.05), 0px 21px 21px rgba(10, 132, 255, 0.09), 0px 5px 12px rgba(10, 132, 255, 0.1), 0px 0px 0px rgba(10, 132, 255, 0.1);
}
form button i{
    margin: 0 6px
}
form .campos-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
